
/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html,

body {
  /* Padding bottom by footer height */
  height: 100%;
  padding: 0;
  margin: 0;
  background: #037a0d;
  color: white;
}

.navbar {
  padding: 5px;
  margin: 0;
  background-color:  #b46804;
  
}
/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;
}


.greenbox{
  padding: px;
  right: 0;
  bottom: 0;
  font-family:Helvetica, sans-serif;
  width: 100; /* Set the fixed height of the footer here */
  height: 10px;
  background-color:  #f5f5f5;
  color: yellow;
  background:  #037a0d;
  margin:1 ;
}

.article{
  font-size:24px ;
  margin: 10;
  padding: 50px;
  right: 10;
  left:200;
  bottom: 100;
  top: 100;
}

/* The footer is positioned at the bottom of the page */
.footerX {

  min-height: 50px;
  background:  #b46804;
  text-align: center;
  color: yellow;
  padding: 5px;
  margin: 0;
  
}

.tooltip {
  position: absolute;
  width: 150px;
  height: 160px;
  padding: 2px;
  padding-top: 8px;
  font: 14px sans-serif;
  color: white;
  text-align: center;
  background: #435502;
  border: 0;
  border-radius: 10px;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  
  fill: #551aaf;
  text-anchor: middle;
}
.chart{
  background: #f8fcf8;
  padding: 100px;
  padding-top: 8px;
  color: black
}
h3{
  color:yellow
}

