<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Moneyball</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
 
  <link rel="stylesheet" href="static/css/styleLP.css">
</head>

<body>
  {% include 'navbar.html' %}
  {% block main %}
  <div class="wrapper">
      <div class="hero text-center">
      <h1>Moneyball</h1>
      <p>Does Money Matter???</p>
    </div>
    <div class="container">
      
        <div class="col-md-10">
          <div id="inro" class="">
            <h2>Introduction</h2>
            <p>Major League Baseball is the only league of the four major sports not to employ a hard salary cap. The lack of spending restrictions results in a 
              culture of "haves" and "have nots." Teams in larger media markets, like New York and Los Angeles, have almost unlimited resources to devote to signing and 
              acquiring baseball's best, and most expensive talents.<br>
              <br>
              In 1998, the Oakland Athletics, a classic "have not" franchise, hired a little-known, former utility player named Billy Beane as general manager. 
              Under some of the tightest spending constraints, Oakland was struggling to compete with the New York Yankees, Boston Red Sox and other "haves." Beane and 
              his lieutenants eschewed longheld baseball wisdom that emphasized players who hit for high average, knocked in a lot of runs (RBI) and stole a lot of bases. 
              Players who compiled these types of stats, commanded large salaries.<br>
              <br>
              Instead Oakland utilized an emerging set of analytics called sabermetrics which placed importance stats like on base percentage and slugging percentage. 
              As these stats weren't traditionally regarded as important, players who excelled in these areas generally commanded lower salaries.<br>
              <br>
              As a result of this revolutionary approach, which became known as "Moneyball, Oakland has consistently competed with teams that spend as much as six times
              more money on players salaries. This phenomenon was the subject of the 2003 book *"Moneyball: The Art of Winning an Unfair Game,"* by Michael Lewis; as well as 
              a 2011 feature film starring Brad Pitt and Jonah Hill.<br>
              <br>
              This project provides a cursory glance at "Moneyball" and whether Beane and the Athletics organization were successful in getting "bang for their buck." 
              Additionally, users can use our database to explore their favorite team's spending and win trends over the last 20 years. 
            </p>
        </div>
        <div class="4-col">  
            <h2>Cost Vs. wins</h2>
            <p>It was determined that to gain a quick understanding of how efficient Oakland was in spending their salary dollars 
              over the 20-year Moneyball era, we would start by looking at each team’s cost per win for that period. With the use 
              of Javascript and d3, we created a single scatterplot to give us a “20,000” foot view.
            </p>
          </div>
          <div class="4-col">  
            <h2> Year: Wins Vs. Cost Per Win </h2>
            <p>The data set included with this exercise depicts relationships between wins and cost in the NBL by year. Additional 
              information can be obtained including: Championship status, Cost per win, Team salary, Ave player salary, and number
               of wins relative to a specific year.
            </p>
          </div>  
          <div class="4-col">  
            <h2> Team: Year vs Cost Per Win. </h2>
            <p>The data set included with this exercise depicts time vs cost/win in NBL bassed on a team of choice. Each datapoint 
              corresponds to the number of wins for a NBL team with additional information available. Data includes: Team name, 
              Championship status, Cost per win, Team salary, Ave player salary, and the year which the data was extracted. 
              Green indicates world champion.
            </p>
          </div>  



    {% endblock %} 
    </div>
    <footer class="footer">
      <span>Project Moneyball &copy; 2021</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
